$primary-color: #333;
$secondary-color: #f4f4f9;
$accent-color: #b53162;
$background-color: #ffffff;
$text-color: #333;
$modal-background: rgba(0, 0, 0, 0);

body {
  font-family: "Arial", sans-serif;
  background: url(bg-photo.jpg) no-repeat center center fixed;
  background-size: cover;
  color: $text-color;
  margin: 0;
  padding: 0;
  //display: flex;
  //justify-content: center;
  min-height: 100vh;
  height: auto;
  margin-bottom: 25px;
}

h1 {
  color: $primary-color;
  text-align: center;
  font-size: 2.7rem;
  margin-top: 40px;
}

.add-task-msg {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0 4px;
    font-size: 1.2rem;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $secondary-color;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  z-index: 100;

  .add-task-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h3 {
      color: $primary-color;
      font-size: 1.5rem;
      margin: 0;
    }

    button {
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      color: $text-color;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .label-input {
      margin-bottom: 15px;

      label {
        font-size: 14px;
        color: $primary-color;
        margin-bottom: 5px;
        text-transform: uppercase;
      }

      input,
      textarea {
        width: 94%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid lighten($primary-color, 20%);
        border-radius: 5px;
        margin-top: 5px;
        background-color: #fff;
        color: $text-color;
        font-size: 16px;

        &:focus {
          outline: none;
          border-color: $accent-color;
          box-shadow: 0px 0px 5px rgba(181, 49, 98, 0.5);
        }
      }
    }

    textarea {
      resize: none;
      font-family: "Arial", sans-serif;
    }
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;
  }

  #btn-add-task {
    width: 45%;
    padding: 10px;
    background-color: $accent-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }

  .err-msg {
    margin-top: 10px;
    margin-right: 0px;
    color: red;
    font-size: 1rem;
    text-align: right;
  }
}

button[type="button"] {
  background-color: $accent-color;
  color: #fff;
  font-size: 1rem;
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($accent-color, 10%);
  }
}

.todo-card {
  background-color: $secondary-color;
  color: $text-color;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 10px;
  margin-top: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  }

  #project-name {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
    color: $primary-color;
  }

  #task-desc {
    font-size: 1rem;
    margin-top: 5px;
    color: $text-color;
  }

  .edit-pn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      color: $text-color;
      background-color: rgb(189, 188, 188);
      font-size: 1.1rem;
      padding: 5px 10px;
      border: 1px solid rgb(189, 188, 188);
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(rgb(189, 188, 188), 8%);
      }
    }
  }

  .delete-to-do {
    display: flex;
    justify-content: center;
    margin-top: 5px;

    .delete-button {
      background-color: #e7002e;
      color: #fff;
      font-size: 1.05rem;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      max-width: 35%;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(#cb042c, 2%);
      }
    }
  }
}

.todo-list {
  h2 {
    text-transform: uppercase;
    padding: 6px;
    padding-left: 15px;
    background-color: $secondary-color;
    color: $text-color;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    margin: 10px;
    margin-top: 40px;
    width: 359px;
  }

  //position: fixed;
  margin-left: 290px;
}

.modal-e {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $secondary-color;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  z-index: 100;

  .edit-task-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h3 {
      color: $primary-color;
      font-size: 1.5rem;
      margin: 0;
    }

    #btn-e {
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      color: $text-color;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .label-input-e {
      margin-bottom: 15px;

      label {
        font-size: 14px;
        color: $primary-color;
        margin-bottom: 5px;
        text-transform: uppercase;
      }

      #project-name-e,
      #task-description-e {
        width: 94%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid lighten($primary-color, 20%);
        border-radius: 5px;
        margin-top: 5px;
        background-color: #fff;
        color: $text-color;
        font-size: 16px;

        &:focus {
          outline: none;
          border-color: $accent-color;
          box-shadow: 0px 0px 5px rgba(181, 49, 98, 0.5);
        }
      }
    }

    #task-description-e {
      resize: none;
      font-family: "Arial", sans-serif;
    }
  }

  .btn-container-e {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;
  }

  #btn-edit-task {
    width: 45%;
    padding: 10px;
    background-color: $accent-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }

  .err-msg {
    margin-top: 10px;
    margin-right: 0px;
    color: red;
    font-size: 1rem;
    text-align: right;
  }
}
